.DS_Store
.bowerrc
node_modules
npm-debug.log
.tmp
.sass-cache
bower_components
src/css

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml

## Directory-based project format:
.idea/


