<div class="swagger-ui" aria-live="polite" aria-relevant="additions removals">
	<div class="api-name">
		<h3 ng-bind="infos.title"></h3>
	</div>
	<div class="api-description" ng-bind-html="infos.description"></div>
	<div class="api-infos">
		<div class="api-infos-contact" ng-if="infos.contact">
			<div ng-if="infos.contact.name" class="api-infos-contact-name"><span swagger-translate="infoContactCreatedBy" swagger-translate-value="infos.contact"></span></div>
			<div ng-if="infos.contact.url" class="api-infos-contact-url"><span swagger-translate="infoContactUrl"></span> <a href="{{infos.contact.url}}" ng-bind="infos.contact.url"></a></div>
			<a ng-if="infos.contact.email" class="api-infos-contact-url" href="mailto:{{infos.contact.email}}?subject={{infos.title}}" swagger-translate="infoContactEmail"></a>
		</div>
		<div class="api-infos-license" ng-if="infos.license">
			<span swagger-translate="infoLicense"></span><a href="{{infos.license.url}}" ng-bind="infos.license.name"></a>
		</div>
	</div>
	<ul class="list-unstyled endpoints">
	    <li ng-repeat="api in resources track by $index" class="endpoint" ng-class="{active:api.open}" ng-include="'templates/endpoint.html'"></li>
	</ul>
	<div class="api-version clearfix" ng-if="infos">
		[<span swagger-translate="infoBaseUrl"></span>: <span class="h4" ng-bind="infos.basePath"></span>, <span swagger-translate="infoApiVersion"></span>: <span class="h4" ng-bind="infos.version"></span>, <span swagger-translate="infoHost"></span>: <span class="h4" ng-bind="infos.scheme"></span>://<span class="h4" ng-bind="infos.host"></span>]
		<a ng-if="validatorUrl!='false'" target="_blank" href="{{validatorUrl}}/debug?url={{url}}"><img class="pull-right swagger-validator" ng-src="{{validatorUrl}}?url={{url}}"/></a>
	</div>
</div>