<div id="{{op.operationId}}" class="heading">
    <a ng-click="op.open=!op.open;permalink(op.operationId)" href="javascript:;">
        <div class="clearfix">
            <span class="http-method text-uppercase" ng-bind="op.httpMethod"></span>
            <span class="path" ng-class="{deprecated:op.deprecated}" ng-bind="op.path"></span>
            <span class="description pull-right" ng-bind="op.summary"></span>
        </div>
    </a>
</div>
<div class="content" ng-if="op.open">
    <div class="h5" ng-if="op.deprecated" swagger-translate="operationDeprected"></div>
	<div ng-if="op.description">
		<h5 swagger-translate="operationImplementationNotes"></h5>
		<p ng-bind-html="op.description"></p>
	</div>
	<form role="form" name="explorerForm" ng-submit="explorerForm.$valid&&submitExplorer(op)">
    	<div ng-if="op.responseClass" class="response">
    		<h5 swagger-translate="responseClass" swagger-translate-value="op.responseClass"></h5>
    		<div ng-if="op.responseClass.display!=-1">
        		<ul class="list-inline schema">
        			<li><a href="javascript:;" ng-click="op.responseClass.display=0" ng-class="{active:op.responseClass.display==0}" swagger-translate="responseModel"></a></li>
        			<li><a href="javascript:;" ng-click="op.responseClass.display=1" ng-class="{active:op.responseClass.display==1}" swagger-translate="responseSchema"></a></li>
        		</ul>
        		<pre class="model" ng-if="op.responseClass.display==0" ng-bind-html="op.responseClass.schema.model"></pre>
        		<pre class="model-schema" ng-if="op.responseClass.display==1" ng-bind="op.responseClass.schema.json"></pre>
    		</div>
    		<div ng-if="op.produces" class="content-type">
    			<label for="responseContentType{{op.id}}" swagger-translate="responseContentType"></label>
    			<select ng-model="form[op.id].responseType" ng-options="item for item in op.produces track by item" id="responseContentType{{op.id}}" name="responseContentType{{op.id}}" required></select>
    		</div>
    	</div>
        <div ng-if="op.headers" class="table-responsive">
            <h5 swagger-translate="headers"></h5>
            <table class="table table-condensed headers">
                <thead>
                    <tr>
                        <th class="name" swagger-translate="headerName"></th>
                        <th class="desc" swagger-translate="headerDescription"></th>
                        <th class="type" swagger-translate="headerType"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(name,header) in op.headers track by $index">
                        <td class="bold" ng-bind="name"></td>
                        <td ng-bind-html="header.description"></td>
                        <td ng-bind="header.type"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    	<div ng-if="op.parameters&&op.parameters.length>0" class="table-responsive">
    		<h5 swagger-translate="parameters"></h5>
    		<table class="table table-condensed parameters">
    			<thead>
    				<tr>
    					<th class="name" swagger-translate="parameterName"></th>
    					<th class="value" swagger-translate="parameterValue"></th>
    					<th class="desc" swagger-translate="parameterDescription"></th>
    					<th class="type" swagger-translate="parameterType"></th>
    					<th class="data" swagger-translate="parameterDataType"></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="param in op.parameters track by $index" ng-include="'templates/parameter.html'"></tr>
    			</tbody>
    		</table>
		</div>
    	<div class="table-responsive" ng-if="op.hasResponses">
    		<h5 swagger-translate="responses"></h5>
    		<table class="table responses">
    			<thead>
    				<tr>
    					<th class="code" swagger-translate="responseCode"></th>
    					<th swagger-translate="responseReason"></th>
    					<th swagger-translate="responseModel"></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="(code,resp) in op.responses track by $index" ng-include="'templates/response.html'"></tr>
    			</tbody>
    		</table>
    	</div>
    	<div ng-if="apiExplorer">
    		<button class="btn btn-default" ng-click="op.explorerResult=false;op.hideExplorerResult=false" type="submit" ng-disabled="op.loading" ng-bind="op.loading?'explorerLoading':'explorerTryIt'|swaggerTranslate"></button>
        	<a class="hide-try-it" ng-if="op.explorerResult&&!op.hideExplorerResult" ng-click="op.hideExplorerResult=true" href="javascript:;" swagger-translate="responseHide"></a>
    	</div>
	</form>
	<div ng-if="op.explorerResult" ng-show="!op.hideExplorerResult">
		<h5 swagger-translate="explorerUrl"></h5>
		<pre ng-bind="op.explorerResult.url"></pre>
		<h5 swagger-translate="explorerBody"></h5>
		<pre ng-bind="op.explorerResult.response.body"></pre>
		<h5 swagger-translate="explorerCode"></h5>
		<pre ng-bind="op.explorerResult.response.status"></pre>
		<h5 swagger-translate="explorerHeaders"></h5>
		<pre ng-bind="op.explorerResult.response.headers"></pre>
	</div>
</div>