<td ng-class="{bold:param.required}" class="operation-parameter-name">
	<label for="param{{param.id}}" ng-bind="param.name"></label>
</td>
<td ng-class="{bold:param.required}" class="operation-parameter-value">
	<div ng-if="apiExplorer">
		<div ng-if="param.in!='body'" ng-switch="param.subtype">
			<input ng-switch-when="file" type="file" file-input ng-model="ui.form[op.id][param.name]" id="param{{param.id}}" placeholder="{{param.required?'parameterRequired':''|swaggerTranslate}}" ng-required="param.required" name="{{param.name}}">
			<select ng-switch-when="enum" ng-model="ui.form[op.id][param.name]" id="param{{param.id}}" name="{{param.name}}" ng-required="param.required">
				<option value="" ng-if="!param.required"></option>
				<option ng-repeat="value in param.enum" value="{{value}}" ng-bind="value+(param.default==value?'parameterDefault':''|swaggerTranslate)" ng-selected="param.default==value"></option>
			</select>
			<input ng-switch-default type="text" ng-model="ui.form[op.id][param.name]" id="param{{param.id}}" placeholder="{{param.required?'parameterRequired':''|swaggerTranslate}}" ng-required="param.required" name="{{param.name}}">
		</div>
		<div ng-if="param.in=='body'">
			<textarea id="param{{param.id}}" ng-model="ui.form[op.id][param.name]" ng-required="param.required" name="{{param.name}}"></textarea>
			<br>
			<div ng-if="op.consumes" class="content-type">
    			<label for="bodyContentType{{op.id}}" swagger-translate="parameterContentType"></label>
    			<select ng-model="ui.form[op.id].contentType" id="bodyContentType{{op.id}}" name="bodyContentType{{op.id}}" ng-options="item for item in op.consumes track by item"></select>
    		</div>
		</div>
	</div>
	<div ng-if="!apiExplorer">
		<div ng-if="param.in!='body'">
			<div ng-if="param.default" swagger-translate="parameterDefault" swagger-translate-value="param.default"></div>
			<div ng-if="param.enum">
				<span ng-repeat="value in param.enum track by $index">{{value}}<span ng-if="!$last" swagger-translate="parameterOr"></span></span>
			</div>
			<div ng-if="param.required"><strong swagger-translate="parameterRequired"></strong></div>
		</div>
	</div>
</td>
<td ng-class="{bold:param.required}" ng-bind-html="param.description" class="operation-parameter-description"></td>
<td ng-bind="param.in" class="operation-parameter-in"></td>
<td ng-if="param.type" ng-switch="param.type" class="operation-parameter-type">
	<span ng-switch-when="array" ng-bind="'Array['+param.items.type+']'"></span>
	<span ng-switch-default ng-bind="param.type"></span>
</td>
<td ng-if="param.schema" class="operation-parameter-model">
	<ul class="list-inline schema">
		<li><a ng-click="param.schema.display=0" ng-class="{active:param.schema.display==0}" swagger-translate="parameterModel"></a></li>
		<li><a ng-click="param.schema.display=1" ng-class="{active:param.schema.display==1}" swagger-translate="parameterSchema"></a></li>
	</ul>
	<pre class="model" ng-if="param.schema.display==0" ng-bind-html="getModel(param,op.operationId,'parameter')"></pre>
	<div ng-if="param.schema.display==1">
		<pre select-on-db-click class="model-schema" ng-bind="getSample(param,ui.form[op.id].contentType)" ng-click="ui.form[op.id][param.name]=getSample(param,ui.form[op.id].contentType)" aria-described-by="help-{{param.id}}"></pre>
		<div id="help-{{param.id}}" swagger-translate="parameterSetValue"></div>
	</div>
</td>