<td ng-bind="code" class="operation-response-code"></td>
<td ng-bind-html="resp.description" class="operation-response-description"></td>
<td class="operation-response-model">
	<ul ng-if="resp.schema" class="list-inline schema">
		<li><a ng-click="resp.display=0" ng-class="{active:resp.display==0}" swagger-translate="responseModel"></a></li>
		<li><a ng-click="resp.display=1" ng-class="{active:resp.display==1}" swagger-translate="responseSchema"></a></li>
	</ul>
	<pre class="model" ng-if="resp.display==0&&resp.schema" ng-bind-html="getModel(resp,op.operationId,'responses')"></pre>
	<pre select-on-db-click class="model-schema" ng-if="resp.display==1&&resp.schema" ng-bind="getSample(resp,ui.form[op.id].responseType)"></pre>
</td>