<div class="swagger-ui" aria-live="polite" aria-relevant="additions removals">
	<div class="api-name">
		<h3 ng-bind="infos.title"></h3>
	</div>
	<div class="api-description" ng-bind-html="infos.description"></div>
	<div class="api-infos">
		<div class="api-infos-contact" ng-if="infos.contact">
			<a href="{{infos.contact.url}}">contact the developer</a>
		</div>
		<div class="api-infos-license" ng-if="infos.license">
			<span>license: </span><a href="{{infos.license.url}}" ng-bind="infos.license.name"></a>
		</div>
	</div>
	<ul class="list-unstyled endpoints">
	    <li ng-repeat="api in resources" class="endpoint" ng-class="{active:api.open}">
	        <div class="clearfix">
		        <ul class="list-inline pull-left endpoint-heading">
		            <li>
		                <h4>
			                <a href="javascript:;" ng-click="api.open=!api.open" ng-bind="api.name"></a>
			                <span ng-if="api.description"> : <span ng-bind="api.description"></span></span>
			            </h4>
		            </li>
		        </ul>
		        <ul class="list-inline pull-right endpoint-actions">
		            <li>
		                <a href="javascript:;" ng-click="api.open=!api.open">open/hide</a>
		            </li>
		            <li>
		                <a href="javascript:;" ng-click="expand(api)">list operations</a>
		            </li>
		            <li>
		                <a href="javascript:;" ng-click="expand(api,true)">expand all</a>
		            </li>
		        </ul>
	        </div>
	        <ul class="list-unstyled collapse" ng-class="{in:api.open}">
	            <li ng-repeat="op in api.operations" class="operation {{op.httpMethod}}">
	                <div class="heading">
	                    <a ng-click="op.open=!op.open" href="javascript:;">
	                        <div>
	                            <span class="http-method text-uppercase" ng-bind="op.httpMethod"></span>
	                            <span class="path" ng-bind="op.path"></span>
	                            <span class="description pull-right" ng-bind="op.summary"></span>
	                        </div>
	                    </a>
	                </div>
	                <div class="content collapse" ng-class="{in:op.open}">
	                	<div ng-if="op.description">
	                		<h5>implementation notes</h5>
	                		<p ng-bind="op.description"></p>
	                	</div>
	                	<form role="form" name="tryItForm" ng-submit="tryItForm.$valid&&submitTryIt(op)">
		                	<div ng-if="op.responseClass" class="response">
		                		<h5>response class (status {{op.responseClass.status}})</h5>
		                		<div ng-if="op.responseClass.display!==-1">
			                		<ul class="list-inline schema">
			                			<li><a href="javascript:;" ng-click="op.responseClass.display=0" ng-class="{active:op.responseClass.display===0}">model</a></li>
			                			<li><a href="javascript:;" ng-click="op.responseClass.display=1" ng-class="{active:op.responseClass.display===1}">model schema</a></li>
			                		</ul>
			                		<pre class="model" ng-if="op.responseClass.display===0" ng-bind-html="op.responseClass.model"></pre>
			                		<pre ng-if="op.responseClass.display===1" ng-bind="op.responseClass.json"></pre>
		                		</div>
		                		<div ng-if="op.produces">
		                			<label for="responseContentType{{op.id}}">response content type</label>
		                			<select ng-model="form[op.id].responseType" ng-options="item for item in op.produces track by item" id="responseContentType{{op.id}}" name="responseContentType{{op.id}}" required></select>
		                		</div>
		                	</div>
		                	<div ng-if="op.parameters" class="table-responsive">
		                		<h5>parameters</h5>
		                		<table class="table table-condensed parameters">
		                			<thead>
		                				<tr>
		                					<th class="name">parameter</th>
		                					<th class="value">value</th>
		                					<th class="desc">description</th>
		                					<th class="type">parameter type</th>
		                					<th class="data">data type</th>
		                				</tr>
		                			</thead>
		                			<tbody>
		                				<tr ng-repeat="param in op.parameters">
		                					<td ng-class="{bold:param.required}">
		                						<label for="param{{param.id}}" ng-bind="param.name"></label>
		                					</td>
		                					<td ng-class="{bold:param.required}">
		                						<div ng-if="tryIt">
		                							<div ng-if="param.in!=='body'" ng-switch="param.type">
			                							<input ng-switch-when="file" type="file" file-input ng-model="form[op.id][param.name]" id="param{{param.id}}" placeholder="{{param.required?'(required)':''}}" ng-required="param.required">
			                							<input ng-switch-default type="text" ng-model="form[op.id][param.name]" id="param{{param.id}}" placeholder="{{param.required?'(required)':''}}" ng-required="param.required">
			                						</div>
			                						<div ng-if="param.in==='body'">
			                							<textarea id="param{{param.id}}" ng-model="form[op.id][param.name]" ng-required="param.required"></textarea>
			                							<br>
			                							<div ng-if="op.consumes">
								                			<label for="bodyContentType{{op.id}}">parameter content type</label>
								                			<select ng-model="form[op.id].contentType" id="bodyContentType{{op.id}}" name="bodyContentType{{op.id}}" ng-options="item for item in op.consumes track by item"></select>
								                		</div>
			                						</div>
		                						</div>
		                						<div ng-if="!tryIt">
		                							<div ng-if="param.in!=='body'">
		                								<div ng-if="param.default"><span ng-bind="param.default"></span> (default)</div>
		                								<div ng-if="param.required"><strong>(required)</strong></div>
		                							</div>
		                						</div>
		                					</td>
		                					<td ng-class="{bold:param.required}" ng-bind="param.description"></td>
		                					<td ng-bind="param.in"></td>
		                					<td ng-if="param.type" ng-switch="param.type">
		                						<span ng-switch-when="array" ng-bind="'Array['+param.items.type+']'"></span>
		                						<span ng-switch-default ng-bind="param.type"></span>
		                					</td>
		                					<td ng-if="param.schema">
			                					<ul class="list-inline schema">
						                			<li><a href="javascript:;" ng-click="param.schema.display=0" ng-class="{active:param.schema.display===0}">model</a></li>
						                			<li><a href="javascript:;" ng-click="param.schema.display=1" ng-class="{active:param.schema.display===1}">model schema</a></li>
						                		</ul>
						                		<pre class="model" ng-if="param.schema.display===0&&param.schema.model" ng-bind-html="param.schema.model"></pre>
						                		<div ng-if="param.schema.display===1&&param.schema.json">
			                						<pre ng-bind="param.schema.json" ng-click="form[op.id][param.name]=param.schema.json" aria-described-by="help-{{param.id}}"></pre>
			                						<div id="help-{{param.id}}">click to set as parameter value</div>
			                					</div>
		                					</td>
		                				</tr>
		                			</tbody>
		                		</table>
	                		</div>
		                	<div class="table-responsive">
		                		<h5>response messages</h5>
		                		<table class="table responses">
		                			<thead>
		                				<tr>
		                					<th class="code">HTTP status code</th>
		                					<th>reason</th>
		                					<th>response model</th>
		                				</tr>
		                			</thead>
		                			<tbody>
		                				<tr ng-repeat="(code, resp) in op.responses">
		                					<td ng-bind="code"></td>
		                					<td ng-bind-html="resp.description"></td>
		                					<td>
		                						<pre ng-if="resp.schema&&resp.schema.json" ng-bind="resp.schema.json"></pre>
		                					</td>
		                				</tr>
		                			</tbody>
		                		</table>
		                	</div>
		                	<div ng-if="tryIt">
		                		<button class="btn btn-default" ng-click="op.tryItResult=false;op.hideTryItResult=false" type="submit" ng-disabled="op.loading" ng-bind="op.loading?'loading...':'try it out!'"></button>
			                	<a class="hide-try-it" ng-if="op.tryItResult&&!op.hideTryItResult" ng-click="op.hideTryItResult=true" href="javascript:;">hide response</a>
		                	</div>
	                	</form>
	                	<div ng-if="op.tryItResult" ng-show="!op.hideTryItResult">
	                		<h5>request URL</h5>
	                		<pre ng-bind="op.tryItResult.url"></pre>
	                		<h5>response body</h5>
	                		<pre ng-bind="op.tryItResult.response.body"></pre>
	                		<h5>response code</h5>
	                		<pre ng-bind="op.tryItResult.response.status"></pre>
	                		<h5>response headers</h5>
	                		<pre ng-bind="op.tryItResult.response.headers"></pre>
	                	</div>
	                </div>
	            </li>
	        </ul>
	    </li>
	</ul>
</div>